# Bỏ qua thư mục chứa các gói phụ thuộc của Node.js (rất lớn!)
node_modules/

# Bỏ qua thư mục output do Eleventy tạo ra
_site/

# Bỏ qua các file log lỗi của npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Các file hệ thống của hệ điều hành
.DS_Store
Thumbs.db

